<div class="about-me">
  <div class="header-about">
    <p class="txt-small get-to">Get To Know More</p>
    <h2 class="heading-big mg-bottom-300">About Me</h2>
  </div>
  <div class="class-ex">
    <div class="imges-about">
      <img src="/image/netflix-logo.webp" alt="Netflix Logo" />
    </div>
    <div class="cards-about-me mg-top-200">
      <div class="cards-experience">
        <div class="card-about">
          <a href="#"><i class="fa-brands fa-telegram link-icon"></i></a>
          <p class="experience-class txt-big">Experience</p>
          <p>2+ years</p>
          <p>Frontend Development</p>
        </div>
        <div class="card-about">
          <a href="#"><i class="fa-brands fa-telegram link-icon"></i></a>
          <p class="experience-class txt-big">Education</p>
          <p>Bachelors Degree</p>
          <p>M.c masters Degree</p>
        </div>
      </div>
      <div class="p-class class-p mg-top-300 txt-small">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
          repudiandae qui iusto modi consequuntur aperiam quia minus minima
          totam alias! Possimus blanditiis ipsa provident nostrum nisi veritatis
          ipsam labore fugit.
        </p>
      </div>
    </div>
  </div>
</div>
