<nav class="navbar">
  <header class="name-nav">
    <p>Sok Both</p>
  </header>
  <button class="toggle">
    <i class="fa-solid fa-bars"></i>
  </button>
  <ul class="nav-list">
    <!-- class active -->
    <li class="nav-link"><a href="#">Home</a></li>
    <li class="nav-link"><a href="#about">About</a></li>
    <li class="nav-link"><a href="#experience">Experience</a></li>
    <li class="nav-link"><a href="#project">Project</a></li>
    <li class="nav-link"><a href="#contact">Contact</a></li>
  </ul>
</nav>

<!--end of navbar  -->
<!-- About Me  -->
<div id="about" class="about-me">
  <div class="header-about">
    <p class="txt-small get-to">Get To Know More</p>
    <h2 class="heading-big mg-bottom-300">About Me</h2>
  </div>
  <section class="section-experience">
    <div class="class-ex">
      <div class="imges-about">
        <img src="/image/profile-pic.png" alt="Netflix Logo" />
      </div>
      <div class="cards-about-me mg-top-200">
        <div class="cards-experience">
          <div class="card-about">
            <a href="#"><i class="fa-brands fa-telegram link-icon"></i></a>
            <p class="experience-class txt-big mg-top-100">Experience</p>
            <p>2+ years</p>
            <p>Frontend Development</p>
          </div>
          <div class="card-about">
            <a href="#"><i class="fa-brands fa-telegram link-icon"></i></a>
            <p class="experience-class txt-big mg-top-100">Education</p>
            <p>Bachelors Degree</p>
            <p>M.c masters Degree</p>
          </div>
        </div>
        <div class="p-class mg-top-300 txt-small">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
            repudiandae qui iusto modi consequuntur aperiam quia minus minima
            totam alias! Possimus blanditiis ipsa provident nostrum nisi
            veritatis ipsam labore fugit.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Experience star-->
<div id="experience" class="experience-header">
  <div class="header-about">
    <p class="txt-small get-to">Explore My</p>
    <h2 class="heading-big mg-bottom-300">Experience</h2>
  </div>
  <div class="class-frontend-bankend">
    <div class="heading-development">
      <h2 class="heading-small header-front">Frontend Development</h2>
      <div class="class-article-container">
        <article class="article-deve">
          <div class="article-container">
            <img src="/image/checkmark.png" alt="Experience icon" />
          </div>
          <div class="name-deve">
            <h3>HTML</h3>
            <p>Experienced</p>
          </div>
        </article>
        <article class="article-deve">
          <div class="article-container">
            <img src="/image/checkmark.png" alt="Experience icon" />
          </div>
          <div class="name-deve">
            <h3>CSS</h3>
            <p>Experienced</p>
          </div>
        </article>
        <article class="article-deve">
          <div class="article-container">
            <img src="/image/checkmark.png" alt="Experience icon" />
          </div>
          <div class="name-deve">
            <h3>JavaScript</h3>
            <p>Experienced</p>
          </div>
        </article>
        <article class="article-deve">
          <div class="article-container">
            <img src="/image/checkmark.png" alt="Experience icon" />
          </div>
          <div class="name-deve">
            <h3>React</h3>
            <p>Proficient</p>
          </div>
        </article>
        <article class="article-deve">
          <div class="article-container">
            <img src="/image/checkmark.png" alt="Experience icon" />
          </div>
          <div class="name-deve">
            <h3>React</h3>
            <p>Proficient</p>
          </div>
        </article>
        <article class="article-deve">
          <div class="article-container">
            <img src="/image/checkmark.png" alt="Experience icon" />
          </div>
          <div class="name-deve">
            <h3>React</h3>
            <p>Proficient</p>
          </div>
        </article>
      </div>
    </div>
    <div class="heading-development">
      <h2 class="heading-small header-front">Bankend Development</h2>
      <div class="class-article-container">
        <article class="article-deve">
          <div class="article-container">
            <img src="/image/checkmark.png" alt="Experience icon" />
          </div>
          <div class="name-deve">
            <h3>PostgerSQL</h3>
            <p>Basic</p>
          </div>
        </article>
        <article class="article-deve">
          <div class="article-container">
            <img src="/image/checkmark.png" alt="Experience icon" />
          </div>
          <div class="name-deve">
            <h3>Node JS</h3>
            <p>Basic</p>
          </div>
        </article>
        <article class="article-deve">
          <div class="article-container">
            <img src="/image/checkmark.png" alt="Experience icon" />
          </div>
          <div class="name-deve">
            <h3>Express</h3>
            <p>Basic</p>
          </div>
        </article>
        <article class="article-deve">
          <div class="article-container">
            <img src="/image/checkmark.png" alt="Experience icon" />
          </div>
          <div class="name-deve">
            <h3>Git</h3>
            <p>Intermediate</p>
          </div>
        </article>
        <article class="article-deve">
          <div class="article-container">
            <img src="/image/checkmark.png" alt="Experience icon" />
          </div>
          <div class="name-deve">
            <h3>React</h3>
            <p>Proficient</p>
          </div>
        </article>
        <article class="article-deve">
          <div class="article-container">
            <img src="/image/checkmark.png" alt="Experience icon" />
          </div>
          <div class="name-deve">
            <h3>React</h3>
            <p>Proficient</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
<div id="project" class="detail-project">
  <header class="header-project">
    <p class="txt-small">Browse My Recent</p>
    <h2 class="heading">Projects</h2>
  </header>
  <div class="class-size">
    <section class="project-cards mg-top-300">
      <div class="card-detail">
        <div class="project-img">
          <img src="/image/project-1.png" alt="" />
        </div>
        <h3 class="heading-small mg-top-100">Project 1</h3>
        <div class="dv-btn">
          <button class="live-deme">Github</button>
          <button class="live-deme">Live Demo</button>
        </div>
      </div>
      <div class="card-detail">
        <div class="project-img">
          <img src="/image/project-1.png" alt="" />
        </div>
        <h3 class="heading-small mg-top-100">Project 1</h3>
        <div class="dv-btn">
          <button class="live-deme">Github</button>
          <button class="live-deme">Live Demo</button>
        </div>
      </div>
      <div class="card-detail">
        <div class="project-img">
          <img src="/image/project-1.png" alt="" />
        </div>
        <h3 class="heading-small mg-top-100">Project 1</h3>
        <div class="dv-btn">
          <button class="live-deme">Github</button>
          <button class="live-deme">Live Demo</button>
        </div>
      </div>
    </section>
  </div>
</div>
