<div class="cards-job">
      <div class="profile">
        <img src="/image/netflix-logo.webp" alt="profile" />
      </div>
      <div class="cads-name">
        <div class="hello txt-small name">
          <p>Hello. I'm</p>
        </div>
        <div class="name heading-big">
          <p>Beg Joker</p>
        </div>
        <div class="name txt-big">
          <p>Frontend Developer</p>
        </div>
        <button class="btn mg-top-100 mg-x-300">Downloand CV</button>
        <button class="btn mg-top-100">Downloand CV</button>
        <div class="icon-container class-icon mg-top-200">
          <a href=""><i class="fa-brands fa-telegram link-icon"></i></a>
          <a href=""><i class="fa-brands fa-github link-icon"></i></a>
          <a href=""><i class="fa-brands fa-facebook link-icon"></i></a>
          <a href=""><i class="fa-brands fa-twitter link-icon"></i></a>
          <a href=""><i class="fa-brands fa-instagram link-icon"></i></a>
        </div>
      </div>
    </div>