<section class="contact-me">
  <div class="box-class">
    <div class="contact">
      <p class="txt-small">Get in Touch</p>
      <h2 class="heading-big heading-contact">Contact Me</h2>
    </div>
    <div class="box-container mg-top-300">
      <div class="box-gmail">
        <a href="#"
          ><i class="fa-brands fa-telegram link-icon class-ican-me"></i
        ></a>
        <p>Example@gmal.com</p>
      </div>
      <div class="box-gmail">
        <a href=""><i class="fa-brands fa-telegram link-icon"></i></a>
        <p>Example@gmal.com</p>
      </div>
    </div>
  </div>
  <div id="contact" class="nav-class">
    <ul class="nav-contact">
      <!-- class active -->
      <li class="nav-contact"><a href="#">Home</a></li>
      <li class="nav-contact"><a href="#about">About</a></li>
      <li class="nav-contact"><a href="#experience">Experience</a></li>
      <li class="nav-contact"><a href="#project">Project</a></li>
      <li class="nav-contact"><a href="#contact">Contact</a></li>
    </ul>
  </div>
</section>
