  <!-- Experience star-->
    <div class="experience-header">
      <div class="header-about">
        <p class="txt-small get-to">Explore My</p>
        <h2 class="heading-big mg-bottom-300">Experience</h2>
      </div>
      <div class="class-frontend-bankend">
      <div class="heading-development">
        <h2 class="heading-small header-front">Frontend Development</h2>
        <div class="class-article-container">
          <article class="article-deve">
            <div class="article-container">
              <img src="/image/checkmark.png" alt="Experience icon" />
            </div>
            <div class="name-deve">
              <h3>HTML</h3>
              <p>Experienced</p>
            </div>
          </article>
          <article class="article-deve">
            <div class="article-container">
              <img src="/image/checkmark.png" alt="Experience icon" />
            </div>
            <div class="name-deve">
              <h3>CSS</h3>
              <p>Experienced</p>
            </div>
          </article>
          <article class="article-deve">
            <div class="article-container">
              <img src="/image/checkmark.png" alt="Experience icon" />
            </div>
            <div class="name-deve">
              <h3>JavaScript</h3>
              <p>Experienced</p>
            </div>
          </article>
          <article class="article-deve">
            <div class="article-container">
              <img src="/image/checkmark.png" alt="Experience icon" />
            </div>
            <div class="name-deve">
              <h3>React</h3>
              <p>Proficient</p>
            </div>
          </article>
          <article class="article-deve">
            <div class="article-container">
              <img src="/image/checkmark.png" alt="Experience icon" />
            </div>
            <div class="name-deve">
              <h3>React</h3>
              <p>Proficient</p>
            </div>
          </article>
          <article class="article-deve">
            <div class="article-container">
              <img src="/image/checkmark.png" alt="Experience icon" />
            </div>
            <div class="name-deve">
              <h3>React</h3>
              <p>Proficient</p>
            </div>
          </article>
        </div>
      </div>
      <div class="heading-development">
        <h2 class="heading-small header-front">Bankend Development</h2>
        <div class="class-article-container">
          <article class="article-deve">
            <div class="article-container">
              <img src="/image/checkmark.png" alt="Experience icon" />
            </div>
            <div class="name-deve">
              <h3>PostgerSQL</h3>
              <p>Basic</p>
            </div>
          </article>
          <article class="article-deve">
            <div class="article-container">
              <img src="/image/checkmark.png" alt="Experience icon" />
            </div>
            <div class="name-deve">
              <h3>Node JS</h3>
              <p>Basic</p>
            </div>
          </article>
          <article class="article-deve">
            <div class="article-container">
              <img src="/image/checkmark.png" alt="Experience icon" />
            </div>
            <div class="name-deve">
              <h3>Express</h3>
              <p>Basic</p>
            </div>
          </article>
          <article class="article-deve">
            <div class="article-container">
              <img src="/image/checkmark.png" alt="Experience icon" />
            </div>
            <div class="name-deve">
              <h3>Git</h3>
              <p>Intermediate</p>
            </div>
          </article>
          <article class="article-deve">
            <div class="article-container">
              <img src="/image/checkmark.png" alt="Experience icon" />
            </div>
            <div class="name-deve">
              <h3>React</h3>
              <p>Proficient</p>
            </div>
          </article>
          <article class="article-deve">
            <div class="article-container">
              <img src="/image/checkmark.png" alt="Experience icon" />
            </div>
            <div class="name-deve">
              <h3>React</h3>
              <p>Proficient</p>
            </div>
          </article>
        </div>
      </div>
      </div>
    </div>